.add-kanban-card {
    height: 75px;
    border: 2px dotted grey;
    margin: 2px 0px;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}