.kanban-column {
    margin-right: 25px;
    flex: 1 1;
    // display: flex;
    // display: grid;
    // grid-template-columns: repeat(4, minmax(56px, 80px));;


    .flex-center-container {
        justify-content: center;
    }

    .card-container {
        display: flex;
        flex-direction: column;
    }
}

.kanban-column-header {
    height: 25px;
    width: auto;
}

.Winnie {
 background-color: #8E6E95;
}

.Bob {
    background-color: #39A59C;

}

.Thomas {
    background-color: #344759;

}

.George {
    background-color: #E8741E;

}

.Blue {
 background-color: blue;

}